@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background-color: #3f3b3b;
    font-family: 'Poppins', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.box {
    background-color: #575151;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 105px;
    color: #000000;
}